
extends _template-main.jade
block main
  h2 客流热度图
  .chart-box
    .floor-chooser.btn-group
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
        | 切换楼层
        span.caret
      ul.dropdown-menu
        li: a(href="#") 1 层
        li: a(href="#") 2 层
        li: a(href="#") 3 层
    .box-main
      img.map(src="assets/img/demo-map.png")
      .chart
        .heatmap
block script
  +js("assets/heatmap.min.js")
